* {
  color: white;
  font-family: "Averia Libre";
}

.registerForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 16px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.registerTextInput {
  height: 46px;
  font-size: 36px;
  right: 0;
  color: #3f92c5;
}


label,
input {
  font-size: 36px;
  display: block;
}

label {
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 1em;
}

.rightSideLabel {
  text-align: start;
}

.leftSideLabel {
  text-align: end;
  display: inline;
}

.gender_selector{
  display: flex;
  margin: 12px 0;
}