nav {
    height: 90px;
    background-color: #8FE1D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 1em;
}


.headerButton {
    width: fit-content;
    padding: 9px 16px;
    background-color: #419ED7;
    text-decoration: none;
    color: white;
    font-size: 24px;
}