nav {
  height: 90px;
  background-color: #8fe1d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

body {
  background-color: #add4d0;
}

.button {
  width: fit-content;
  padding: 9px 16px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}
.myHealthLogo {
  font-size: 48px;
  color: #419ed7;
}
.blueButton {
  background-color: #419ed7;
}
.greenButton {
  background-color: #37bd6d;
}

.redButton {
  background-color: #f05555;
}

.blueText {
  color: #419ed7;
}

.logo {
  display: flex;
}

.centralize {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.alignRight {
  display: block;
  margin-left: auto;
  margin-top: .5em;
  margin-right: .5em;
}
